.button {
  opacity: 1;
  text-align: center;
  background: #8ed6ff;
  border: none;
  border-radius: 4px;
  line-height: 2.5;

  &_light {
    opacity: .4;
  }

  &_disabled {
    background: #ddd;
  }

  &_main {

  }
}
