.select-name-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    padding: 20px;

    &__input {
    }

    &__submit {
        margin-top: 10px;
    }
}

