.control-panel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__controls {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 10px;
    flex-grow: 6;

    &_row {
      display: flex;
      flex-direction: column;
    }
  }

  &__submit {
    margin-top: 14px;
    flex-basis: 11%;
  }
}
