@import "../node_modules/antd/dist/antd.css";

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.main-wrapper {
    padding: 10px;
    height: 100vh;
    font-family: sans-serif;
}

.page {
    min-height: 100vh;
}

.control-row {
    display: flex;
    flex-direction: row;
}
